/* kanit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/kanit-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/kanit-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kanit-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/kanit-v12-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/kanit-v12-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kanit-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/kanit-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/kanit-v12-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/kanit-v12-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/kanit-v12-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/fonts/kanit-v12-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/kanit-v12-latin-300.svg#Kanit") format("svg"); /* Legacy iOS */
}
/* kanit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/kanit-v12-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/kanit-v12-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: "Kanit";
  margin: 0;
  padding: 0;
}
.App {
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px 20vw;
}
.marketing-word {
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
}
.companyName {
  font-size: 2.5rem;
  font-weight: 600;
  color: #3a3a3a;
}
.button {
  text-decoration: none;
  color: white;
  padding: 7px 15px;
  margin-top: 10px;
  background-color: #f63f3f;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-right: 10px;
  transition-duration: 0.32s;
}
.button:hover {
  background-color: #352f2f;
}
