/* kanit-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/kanit-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/kanit-v12-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kanit-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/kanit-v12-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/kanit-v12-latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kanit-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/kanit-v12-latin-300.eot");
  /* IE9 Compat Modes */
  src: url("./assets/fonts/kanit-v12-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/kanit-v12-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/kanit-v12-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/fonts/kanit-v12-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/kanit-v12-latin-300.svg#Kanit") format("svg");
  /* Legacy iOS */
}

/* kanit-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/kanit-v12-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/kanit-v12-latin-600.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  scroll-behavior: smooth;
}
:root {
  --bg-color: #0a2647;
  --text-color: #ffffff;
  --primary-color: #f63f3f;
  --secondary-color: #352f2f;
  --darker-color: #061628;
}
body {
  font-family: "Kanit";
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  box-sizing: border-box;
  color: white;
}

.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px 20vw;
}

.marketing-word {
  font-size: 1.5rem;
  font-weight: 300;
}

.companyName {
  font-size: 2.5rem;
  font-weight: 600;
}

.button {
  text-decoration: none;
  padding: 7px 15px;
  margin-top: 10px;
  background-color: #f63f3f;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-right: 10px;
  transition-duration: 0.32s;
  color: var(--text-color);
}
.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button:hover {
  background-color: var(--secondary-color);
}

.landing-block {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20vw;
  color: white;
}
nav .nav-link {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav .nav-link:hover {
  color: var(--primary-color);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  display: none;
  opacity: 0;
  font-size: 1.5rem;
}
header h3 .logo {
  margin: 0 0 -0.5rem;
}
header h3 .logo:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .content {
    padding: 20px 10vw;
  }
  .landing-block {
    width: 70vw;
  }
  header .nav-btn {
    display: contents;
    opacity: 1;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--bg-color);
    transition: 0.5s;
    transform: translateY(-100vh);
  }
  header .responsive_nav {
    transform: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  header {
    padding: 0 10vw;
  }
}


.why-choose-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}
.opinions-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}
.opinions {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}
.opinions-text {
  margin-right: 60px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  background-color: var(--darker-color);
  color: var(--text-color);
}

.card:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  .why-choose-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .opinions {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
  }
  .opinions-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.opinions-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.opinion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
  margin: 10px;
}

.opinion:hover {
  background-color: #d9d9d9;
}

.opinion .rating {
  font-size: 28px;
  font-weight: bold;
  color: #555;
}

.selected-opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.selected-opinion .rating {
  font-size: 48px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.selected-opinion .comment {
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
}

.selected-opinion .date {
  font-size: 16px;
  color: #777;
}
.contact-ad-container {
  background: linear-gradient(
    90deg,
    rgba(32, 29, 29, 0.5) 0%,
    rgba(45, 76, 233, 0.5) 100%
  );
  border-radius: 20px;
  padding: 20px 20px 20px 30px;
}
.contact-ad-text {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50vw;
}
.contact-ad {
  margin-top: 10vh;
}

@media only screen and (max-width: 768px) {
  .contact-ad-container{
    background: linear-gradient(
    20deg,
    rgba(32, 29, 29, 0.5) 0%,
    rgba(45, 76, 233, 0.5) 100%
  );
  }
  .contact-ad-text {
    width: 100%;
  }
  .contact-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
