/* kanit-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/kanit-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/kanit-v12-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kanit-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/kanit-v12-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/kanit-v12-latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kanit-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/kanit-v12-latin-300.eot");
  /* IE9 Compat Modes */
  src: url("./assets/fonts/kanit-v12-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/kanit-v12-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/kanit-v12-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/fonts/kanit-v12-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/kanit-v12-latin-300.svg#Kanit") format("svg");
  /* Legacy iOS */
}

/* kanit-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/kanit-v12-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/kanit-v12-latin-600.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
  
}
:root {
  --bg-color: #0a2647;
  --text-color: #ffffff;
  --primary-color: #1147f9;
  --secondary-color: #2f2f35;
  --darker-color: #08203c;
}
body {
  font-family: "Kanit";
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
}

.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px 15vw;
}

.marketing-word {
  font-size: 1.5rem;
  font-weight: 300;
}

.companyName {
  font-size: 2.5rem;
  font-weight: 600;
}

.button {
  text-decoration: none;
  padding: 7px 15px;
  margin-top: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: 1.1rem;
  margin-right: 10px;
  transition-duration: 0.32s;
  color: var(--text-color);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.359);
}
.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button:hover {
  background-color: var(--darker-color);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.576);
}

.landing-block {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2vw;
  color: white;
}
nav .nav-link {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

nav .nav-link:hover {
  color: var(--primary-color);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  display: none;
  opacity: 0;
  font-size: 1.5rem;
}
header h3 .logo {
  margin: 0 0 -0.5rem;
}
header h3 .logo:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .content {
    padding: 20px 10vw;
  }
  .landing-block {
    width: 70vw;
  }
  header .nav-btn {
    display: contents;
    opacity: 1;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--darker-color);
    border-radius: 10px;
    border-bottom: 1px solid white;
    transition: 0.5s;
    transform: translateY(-100vh);
  }
  header .responsive_nav {
    transform: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  header {
    padding: 0 10vw;
  }
}

.why-choose-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}
.opinions-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}
.opinions {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}
.opinions-text {
  margin-right: 60px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  background-color: var(--darker-color);
  color: var(--text-color);
}

.card:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 1rem;
}

.opinions-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.contact-ad-container {
  background: linear-gradient(
    90deg,
    rgba(32, 29, 29, 0.5) 0%,
    rgba(45, 76, 233, 0.5) 100%
  );
  border-radius: 20px;
  padding: 10px 20px 30px 20px;
}
.contact-ad-text {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50vw;
}
.contact-ad {
  margin-top: 10vh;
}

.footer-content {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: var(--darker-color);
  padding: 30px;
  padding-bottom: 60px;
  margin-bottom: 0;
  margin-top: 50px;
  justify-content: space-around;
  height: 100%;
  border-radius: 30px 30px 0 0;
  align-items: baseline;
}

.footer-logo {
  width: 200px;
  height: 200px;
}

.footer-content-left,
.footer-content-right {
  width: 200px;
}

.footer-content li a {
  text-decoration: underline;
  color: var(--text-color);
}
.footer-content li {
  margin-bottom: 10px;
}

.footer-content-right .footer-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  margin-right: 2rem;
}
.footer-content-right a {
  text-decoration: underline;
  color: var(--text-color);
}

.footer-contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 5rem;
  height: 5rem;
}

.services-header {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50vw;
}
.item-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}
.item-cards-outer {
  margin-top: 20px;
}
nav .active {
  color: var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: #0616286c;
}

.not-found p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}
.contacts-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 20px;
}

.contact-link {
  text-decoration: underline;
  color: var(--text-color);
}
@media only screen and (max-width: 768px) {
  .why-choose-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .item-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .opinions {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
  }
  .opinions-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-ad-container {
    background: linear-gradient(
      20deg,
      rgba(32, 29, 29, 0.5) 0%,
      rgba(45, 76, 233, 0.5) 100%
    );
  }
  .contact-ad-text {
    width: 100%;
  }
  .contact-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .about-header {
    width: 70vw !important;
  }
  .services-header-content {
    width: 70vw;
    margin-bottom: 80px;
  }
  .footer-logo {
    width: 7rem !important;
    height: 7rem !important;
  }

}
.about-header {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50vw;
}
.about-header a {
  text-decoration: underline;
  color: var(--text-color);
}
.beta-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darker-color);
  width: 100%;
}
.beta-warning p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  margin: 10px;
}


